*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: #ffffff;
    display: grid;    
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    'header header header header header header'
    'nav    box-1  prog   prog   prog   p1    '
    'nav    box-2  ins    ins    p2     p3    '
    'nav    p4     ins    ins    org    org   '
    'footer footer footer footer footer footer';
    gap: 1em;
    max-width: 100%;
}

header{
    display: flex;
    background-color: blue;    
    grid-area: header;
    flex-wrap: wrap;
}

header h1{
    flex-basis: 100%;
}

nav{
    display: flex;
    grid-area: nav;
}

.box-1{
    display: flex;
    background-color: rgb(236, 236, 236);
    grid-area: box-1;
}

.prog{
    display: flex;
    background-color: rgb(236, 236, 236);
    grid-area: prog;
}

.p1{
    grid-area: p1;
}

.box-2{
    background-color: rgb(236, 236, 236);
    grid-area: box-2;
}

.ins{
    background-color: rgb(236, 236, 236);
    grid-area: ins;
}

.p2{
    grid-area: p2;
}

.p3{
    grid-area: p3;
}

.p4{
    grid-area: p4;
}

.org{
    grid-area: org;
}

img{
    width:50%;
    height: auto;
}

footer{
    background-color: blue;
    grid-area: footer;
}
