*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cabecalho{
    background-color: rgb(72, 121, 121);
    width: 20%;
    height: 100vh;
    position: static;
    padding: 1em;
}

.cabecalho h1{
    padding-bottom: 1em;
}

.cabecalho ul{
    list-style-type: none;
}

.cabecalho ul li{
    color: white;
    padding-bottom: 0.5em;
}

.pagina-principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
}

.card{
    height: 15em;
    width: 10em;
    border: 1px solid black;
    border-radius: 5px;
}

.conteudo-1{
    background-color: antiquewhite;
    border-bottom: 1px solid black;
    padding: 1em;
    text-align: center;
}