*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cabecalho{
    background-color: rgb(72, 121, 121);
    width: 15%;
    height: 100vh;
    position: static;
    padding: 1em;
}

.cabecalho h1{
    padding-bottom: 1em;
}

.cabecalho ul{
    list-style-type: none;
}

.cabecalho ul li{
    color: white;
    padding-bottom: 0.5em;
}

main{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-top: 1em;
}

.topo{
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;
    align-items: center;
}

.usuario{
    display: flex;
    align-items: center;
}

.pagina-principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 40%;
    max-width: 55%;
    row-gap: 1em;
}

.pagina-principal h2{
    flex-basis: 100%;
    margin-bottom: 1em;
}

.card{
    box-sizing: border-box;
    width: 10em;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(219, 219, 219);
}

.conteudo-1{
    height: 5em;
    padding: 1em;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);

}

.conteudo-2{
    display: flex;
    justify-content: center;
    height: 4em;
}

.icones{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5em;
}
