*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
}

nav div{
    flex-basis: 100%;
    background-color: rgb(18, 42, 77);
    border: 1px solid navy;
}

h2{
    color: white;
    text-align: center;
}

.diatinf{
    background-color: blue;
    height: 10em;
    width: 100%;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a{
    color: black;
    text-decoration: none;
    color: white;
    display: block;
    padding: 1em;
}

.dropdown-content a:hover{
    background-color: aqua;
}

.dropdown:hover .dropdown-content{
    display: block;
}