*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(5, 31, 52);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(7, 26, 41);
    gap:  10em;
}

nav div{
    display: flex;
    gap: 2em;
}

a{
    text-decoration: none;
    color: white;
    font-size: larger;
}

a:hover{
    color: rgb(241, 107, 37);
}

img{
    padding: 1em;
    width: 200px;
    height: auto;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    background-color: rgb(247, 247, 247);
    position: absolute;
    z-index: 1;
}

.dropdown-content a{
    color: black;
    display: block;
    padding: 0.3em;
}

.dropdown-content a:hover{
    color: rgb(241, 107, 37);
    background-color: rgb(7, 26, 41);
}

.dropdown:hover .dropdown-content{
    display: block;
}